<%- include ('partials/header')%>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1><%=message%></h1>
                <p><%=messageDescription%></p>
                <a href="/" class="btn btn-primary">Volver al inicio</a>
            </div>
            <div class="col-4">
                <img id="martillo" src="/img/martillo.png" alt="">
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>

<%- include ('partials/footer')%>
